body {
  font-family: "sans-serif";
}

.logo {
  height: auto;
  width: 25%;
  position: relative;
  left: 50px;
  top: 50px;
}

.link-list {
  position: relative;
  left: 100%;
  margin-bottom: 50px;
 
}

.bg-success {
  background-color: #DCF7EB!important;
}
.bg-primary {
  background-color: #B1D7E3!important;
}