body {
  font-family: "sans-serif";
  margin-left: 160px; 
  padding: 0px 10px;
}

p {
  font-size: small;
}
.logo {
  height: auto;
  width: 75%;
}

.intro {
  margin-top: 100px;
}

.link-list {
  position: relative;
  left: 100%;
}

.bg-success {
  background-color: #DCF7EB!important;
}

.bg-primary {
  background-color: #B1D7E3!important;
}

.bg-warning {
  background-color: #E0BAD3!important;
}
.sidenav {
  height: 100%; 
  width: 160px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}


.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
 
  display: block;
}


.sidenav a:hover {
  color: #f1f1f1;
}
